@page
@model SCPFoundation.Views.Description

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>

    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Зона 19</title>

</head>

<body id="ThirdBody">

<main id="ThirdMain">
    
    <header id="SecondHeader">
    
        <img src="source/PageOne/Logo.svg">
        
        <div id="navlist">
        
            <ul>
                <li><a href="MainPage.html">Главная</a></li>
        
                <li><a href="CardsDescription.html"><b>Подробнее</b></a></li>
        
                <li><a href="CardsSCP.html">Объекты на содержании</a></li>
            </ul>
        
        </div> 
    </header>
    
    <div class="Block">

        <div class="BlockLeft">
        
            <div class="BlockLeftText">
        
                <h1>Общая информация</h1>
        
                <ul>
                    <li>Дата основания</li>
                    <li>Руководство комплекса</li>
                    <li>Прикрытие</li>
                    <li>Функции зоны</li>
                    <li>Офисы и крылья</li>
                </ul>
        
            </div>
        
        </div>
        
        <div class="BlockRight">
        
            <img src="source/PageTwo/General information.svg">
        
        </div>
        
    </div>
    
</main>
    
</body>
</html>