@page
@model SCPFoundation.Views.Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>

    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Зона 19</title>

</head>

<body id="FirstBody">

<header>
</header>

<main id="FirstMain">

    <div id="support">
        <div id="MainAuthentication">

            <div id="MainAuthenticationLeft">

                <h1>Войдите в<br> систему фонда</h1>

            </div>

            <div id="MainAuthenticationRight">

                <div id="MainAuthenticationRightAuth">

                    <form method="post" action="MainPage.html" class="text-field">
                        <label class="text-field__label" for="login">Логин</label>
        
                        <input class="text-field__input" type="text" maxlength="20" required="true" name="login" id="login" placeholder="Д-р Харринг">
        
                        <label class="text-field__label" for="login">Пароль</label>
        
                        <input class="text-field__input" type="password" maxlength="20" required="true" name="login" id="login" placeholder="Ваш пароль">
    
                        <button class="text-field__label" href="index.html" id="EnterAuth"><p class="qwer">Вход</p></button>
                    </form>

                </div>

            </div>

        </div>
    </div>

</main>

<aside>
</aside>

<footer>
</footer>

</body>
</html>