@page
@model SCPFoundation.Views.Cards

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="style.css">
<script defer src="script.js"></script>

<meta charset="utf-8">
<meta name="author" content="">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Зона 19</title>

</head>

<body id="FourthBody">

<main id="FourthMain">

<header id="SecondHeader">

        <img src="source/PageOne/Logo.svg">
    
        <div id="navlist">
    
    <ul>
        <li><a href="MainPage.html">Главная</a></li>
    
        <li><a href="CardsDescription.html">Подробнее</a></li>
    
        <li><a href="CardsSCP.html"><b>Объекты на содержании</b></a></li>
    </ul>
    
        </div> 
</header>

<div class="Block">
    
        <div class="SCPBlockLeft">
        
        <div class="SCPBlockLeftText">
        
        <h1>SCP - 035</h1>
        
        <ul>
            <li>Класс объекта: Кетер</li>
            <li>Зона содержания: Укреплённое крыло U</li>
            <li>Начальник по безопасности: Д-р Гирс</li>
        </ul>
        
        </div>
        
        </div>
        
        <div class="SCPBlockRight">
        
        
        
        </div>
        
</div>

<div class="Block">  

    <div class="SCPBlockLeft">
    
    <div class="SCPBlockLeftText">
    
    <h1>SCP - 035</h1>
    
    <ul>
        <li>Класс объекта: Кетер</li>
        <li>Зона содержания: Укреплённое крыло U</li>
        <li>Начальник по безопасности: Д-р Гирс</li>
    </ul>
    
    </div>
    
    </div>
    
<div class="SCPBlockRight"></div>
    
</div>

</main>

</body>
</html>